h1 {
    color:black;
}
.buttonSpacer {
    padding-top: 25px;
}
#totalpayment {
    font-size: 2em;
}

P {
    margin-top: 100px;
    
}

#sliderValue{
    margin-top: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: linear-gradient(90deg, rgb(214,214,214) 50%, rgb(214,214,214) 50%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 1px black;

}

.slider::after {
    content: '100000';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    left: 77%;
    top: 20%;
}


.slider::before {
    content: '2000';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    left: 17%;
    top: 20%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
}

